:root {
    --heading-font-family: "Lexend", sans-serif;
    --body-font-family: "Nunito", sans-serif;
    --heading-txt: #5E7581;
    --body-txt: #5C5C5C;

    --ip-border: #A7B7C0;
    --ip-border--focus: #898989;
    --ip-border--disabled: hsla(0, 0%, 85%, 0.5);
    --ip-bg: #fff;
    --ip-bg--focus: #fff;
    --ip-bg--disabled: hsla(0, 0%, 98%, 0.5);
    --ip-placeholder-txt: #97AAB4;
    --ip-error-txt: #BD4E4E;
    --ip-checked-txt: #000;

    --btn-txt: #5E7581;
    --btn-txt--hover: #5E7581;
    --btn-txt--active: #5E7581;
    --btn-bg: #fff;
    --btn-bg--hover: #fff;
    --btn-bg--active: #DDECF1;
    --btn-box-shadow--hover: 0px 2px 2px 0px #7C929F40;
    --btn-box-shadow--active: inset 0px 3px 2px 0px #00000040;
}

/*
Headings

Headings H1 to H6.

Markup:
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

Styleguide Base.Headings
*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: var(--heading-txt);
    font-family: var(--heading-font-family);
    line-height: 120%;
}

h1, .h1 {
    margin-block: 0.67em;
    font-size: 2rem;
}

h2, .h2 {
    margin-block: 0.83em;
    font-size: 1.5rem;
}

h3, .h3 {
    margin-block: 1em;
    font-size: 1.1875rem;
}

h4, .h4 {
    margin-block: 1.33em;
    font-size: 1rem;
}

h5, .h5 {
    margin-block: 1.67em;
    border-block-end: 1px solid var(--heading-txt);
    font-size: 0.8125rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

h6, .h6 {
    margin-block: 2.33em;
    border-block-end: 1px solid var(--heading-txt);
    font-size: 0.6875rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

/*
Body text

Markup:
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum ante purus, nec gravida elit iaculis id.
Morbi rhoncus lacus quam, ut consectetur lorem dapibus et. Phasellus vel cursus tellus.</p>

Styleguide Base.BodyText
*/
body {
    color: var(--body-txt);
    font-family: var(--body-font-family);
    font-size: 16px;
    line-height: 150%;
}

/*
Links

Markup:
<a href="#">Normal Link</a><br>
<a href="#" class="pseudo-visited-link">Visited Link</a>

Styleguide Base.Links
*/
a {
    --link-txt: #1B5BFF;
    --link-txt--visited: #981BFF;

    color: var(--link-txt);

    &:hover {
        text-decoration: none;
    }

    &:visited,
    &.pseudo-visited-link {
        color: var(--link-txt--visited);
    }
}

/*
Blockquote

Markup:
<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum ante purus, nec gravida elit iaculis id.
Morbi rhoncus lacus quam, ut consectetur lorem dapibus et. Phasellus vel cursus tellus.</blockquote>

Styleguide Base.Blockquote
*/

blockquote {
    position: relative;
    margin: 0;
    padding-inline: 16px;
    color: #97AAB4;
    font-style: italic;

    &::before {
        content: "";

        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        background-color: #A7B7C0;
    }
}

/*
Ordered list

Markup:
<ol type="1">
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Aliquam facilisis lacus ex, ac egestas velit maximus et. </li>
    <li>Vivamus suscipit erat nec nibh pharetra efficitur. </li>
    <li>Integer et fringilla mi. </li>
    <li>Donec dolor sem, vehicula et massa ac, vestibulum vulputate odio. Donec sed leo vitae libero commodo facilisis.</li>
</ol>

Styleguide Base.OrderedList
*/

ol {
    margin: 0;
    padding: 0;
}

/*
Unordered list

Markup:
<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Aliquam facilisis lacus ex, ac egestas velit maximus et. </li>
    <li>Vivamus suscipit erat nec nibh pharetra efficitur. </li>
    <li>Integer et fringilla mi. </li>
    <li>Donec dolor sem, vehicula et massa ac, vestibulum vulputate odio. Donec sed leo vitae libero commodo facilisis.</li>
</ul>

Styleguide Base.UnorderedList
*/

ul {
    margin: 0;
    padding: 0;
}
