/*
Alert Dialog

Alert Dialog.

Markup:
<div class="m-alert">
    <div class="m-alert__overlay"></div>
    <div class="m-alert__window">
        <h3 class="m-alert__title">Alert</h3>
        <div class="m-alert__content-wrapper">
            <p class="m-alert__content">I am about to perform this action. Thought of letting you know.</p>
            <button class="m-btn m-btn--primary m-alert__btn">Okay</button>
        </div>
    </div>
</div>

Styleguide Dialog.Alert
*/

.m-alert {
  --window-zindex: 10;
  --overlay-zindex: 1;

  &__overlay {
    display: block;
    position: fixed;
    z-index: var(--overlay-zindex);
    background-color: rgba(0, 0, 0, 0.1);
    inset: 0;
  }

  &__window {
    position: fixed;
    z-index: var(--window-zindex);
    top: 50%;
    left: 50%;
    max-width: 500px;
    border: 1px solid var(--ip-border);
    padding: 20px 6px 6px 6px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 2px 4px 0px #00000033, 0px 4px 6px 2px #0000001f,
      0px 6px 8px 4px #0000000f;
    transform: translate(-50%, -50%);
  }

  &__title {
    margin-block: 0 15px;
    text-align: center;
  }

  &__content-wrapper {
    border: 1px solid var(--ip-border);
    padding: 32px 20px 14px 20px;
    border-radius: 10px;
  }

  &__content {
    margin-block: 0 25px;
    text-align: center;
  }

  &__btn {
    display: block;
    margin-inline: auto;
  }
}
