/*
Buttons (UI states)

Buttons user-interaction states.

Markup:
<button class="m-btn {{modifier_class}}">Button</button>
<button class="m-btn m-btn--primary {{modifier_class}}">Button</button>
<button class="m-btn m-btn--warning {{modifier_class}}">Button</button>
<button class="m-btn m-btn--danger {{modifier_class}}">Button</button>

:hover - mouse over state
:active - pressed state
:disabled - disabled, not clickable

Styleguide Buttons.UIStates
*/
.m-btn {
    margin: 0;
    border: 1px solid #A7B7C0;
    padding: 9px 21px;
    color: var(--btn-txt);
    font-family: var(--body-txt);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    background: var(--btn-bg);
    border-radius: 22px;

    &:enabled:hover,
    &.pseudo-class-hover {
        color: var(--btn-txt--hover);
        background: var(--btn-bg--hover);
        box-shadow: var(--btn-box-shadow--hover);
    }

    &:enabled:active,
    &.pseudo-class-active {
        color: var(--btn-txt--active);
        background: var(--btn-bg--active);
        box-shadow: var(--btn-box-shadow--active);
    }

    &:disabled,
    &.pseudo-class-disabled {
        opacity: .5;

        &:hover,
        &:active {
            color: var(--btn-txt);
            background: var(--btn-bg);
            box-shadow: none;
        }
    }

    &--primary {
        --btn-bg: #098CEA;
        --btn-bg--hover: linear-gradient(to bottom, #60b9f8 0%,#098cea 100%);
        --btn-bg--active: #087FD3;

        --btn-txt: white;
        --btn-txt--hover: white;
        --btn-txt--active: white;

        --btn-box-shadow--hover: 0px 2px 2px 0px #098CEA59;
        --btn-box-shadow--active: 0px 3px 2px 0px #00000040 inset;

        border: none;
        padding: 10px 22px;
    }

    &--warning {
        --btn-txt: #fff;
        --btn-txt--hover: #fff;
        --btn-txt--active: #fff;

        --btn-bg: #E2A406;
        --btn-bg--hover: linear-gradient(180deg, #F5CF6C 0%, #DEA30D 100%);        ;
        --btn-bg--active: #C28E0A;

        --btn-box-shadow--hover: 0px 2px 2px 0px #E2A40659;
        --btn-box-shadow--active: 0px 3px 2px 0px #00000040 inset;

        border: none;
        padding: 10px 22px;
    }

    &--danger {
        --btn-txt: #fff;
        --btn-txt--hover: #fff;
        --btn-txt--active: #fff;

        --btn-bg: #D65A5A;
        --btn-bg--hover: linear-gradient(180deg, #EE9A9A 0%, #BF4040 100%);        ;
        --btn-bg--active: #BF4040;

        --btn-box-shadow--hover: 0px 2px 2px 0px #D65A5A59;
        --btn-box-shadow--active: 0px 3px 2px 0px #00000040 inset;

        border: none;
        padding: 10px 22px;
    }
}

/*
Buttons (colors)

Buttons with different colors.

Markup:
<button class="m-btn {{modifier_class}}">Button</button>

.m-btn--primary - primary button
.m-btn--warning - warning button
.m-btn--danger - danger button

Styleguide Buttons.Colors
*/
