/*
Buttons (UI states)

Buttons user-interaction states.

Markup:
<button class="m-btn {{modifier_class}}">Button</button>
<button class="m-btn m-btn--primary {{modifier_class}}">Button</button>
<button class="m-btn m-btn--warning {{modifier_class}}">Button</button>
<button class="m-btn m-btn--danger {{modifier_class}}">Button</button>

:hover - mouse over state
:active - pressed state
:disabled - disabled, not clickable

Styleguide Buttons.UIStates
*/
.m-btn {
  margin: 0;
  border: 1px solid #a7b7c0;
  padding: 9px 21px;
  color: var(--btn-txt);
  font-family: var(--body-txt);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  background: var(--btn-bg);
  border-radius: 22px;

  &:enabled:hover,
  &.pseudo-class-hover {
    color: var(--btn-txt--hover);
    background: var(--btn-bg--hover);
    box-shadow: var(--btn-box-shadow--hover);
  }

  &:enabled:active,
  &.pseudo-class-active {
    color: var(--btn-txt--active);
    background: var(--btn-bg--active);
    box-shadow: var(--btn-box-shadow--active);
  }

  &:disabled,
  &.pseudo-class-disabled {
    opacity: 0.5;

    &:hover,
    &:active {
      color: var(--btn-txt);
      background: var(--btn-bg);
      box-shadow: none;
    }
  }

  &--primary {
    --btn-bg: #098cea;
    --btn-bg--hover: linear-gradient(to bottom, #60b9f8 0%, #098cea 100%);
    --btn-bg--active: #087fd3;

    --btn-txt: white;
    --btn-txt--hover: white;
    --btn-txt--active: white;

    --btn-box-shadow--hover: 0px 2px 2px 0px #098cea59;
    --btn-box-shadow--active: 0px 3px 2px 0px #00000040 inset;

    border: none;
    padding: 10px 22px;
  }

  &--warning {
    --btn-txt: #fff;
    --btn-txt--hover: #fff;
    --btn-txt--active: #fff;

    --btn-bg: #e2a406;
    --btn-bg--hover: linear-gradient(180deg, #f5cf6c 0%, #dea30d 100%);
    --btn-bg--active: #c28e0a;

    --btn-box-shadow--hover: 0px 2px 2px 0px #e2a40659;
    --btn-box-shadow--active: 0px 3px 2px 0px #00000040 inset;

    border: none;
    padding: 10px 22px;
  }

  &--danger {
    --btn-txt: #fff;
    --btn-txt--hover: #fff;
    --btn-txt--active: #fff;

    --btn-bg: #d65a5a;
    --btn-bg--hover: linear-gradient(180deg, #ee9a9a 0%, #bf4040 100%);
    --btn-bg--active: #bf4040;

    --btn-box-shadow--hover: 0px 2px 2px 0px #d65a5a59;
    --btn-box-shadow--active: 0px 3px 2px 0px #00000040 inset;

    border: none;
    padding: 10px 22px;
  }
}

/*
Buttons (colors)

Buttons with different colors.

Markup:
<button class="m-btn {{modifier_class}}">Button</button>

.m-btn--primary - primary button
.m-btn--warning - warning button
.m-btn--danger - danger button

Styleguide Buttons.Colors
*/
