/*
Radio (UI states)

Input radio user-interaction state.

Markup:
<div class="m-ip-radio">
    <input type="radio" class="m-ip-radio__input" id="gender-male" name="gender" value="male">
    <label class="m-ip-radio__label {{modifier_class}}" for="gender-male" tabindex="0">Male</label>
</div>

:focus - an element that received focus

Styleguide Radio.UIStates
*/
.m-ip-radio {
    --sprite-width: 72px;
    --sprite-height: 72px;
    --sprite-icon-size: 24px;

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        position: relative;
        align-items: center;
        width: fit-content;
        outline: none;
        cursor: pointer;

        &::before {
            --icon-size: 24px;

            content: "";
            display: block;
            box-sizing: border-box;
            width: var(--icon-size);
            height: var(--icon-size);
            margin-inline-end: 10px;
            border: 1px solid var(--ip-border);
            background: transparent;
            border-radius: 50%;
        }

        &:hover::before,
        &.pseudo-class-hover::before {
            background: #FFF;
        }

        &:focus::before,
        &.pseudo-class-focus::before {
            background: #fff;
        }
    }

    &__input:disabled + &__label {
        color: var(--ip-placeholder-txt);
        opacity: .5;

        &::before {
            opacity: .5;
        }

        &:hover::before,
        &.pseudo-class-hover::before {
            background-position-x: 0;
        }

        &:focus::before,
        &.pseudo-class-focus::before {
            background-position-x: 0;
        }
    }

    &__input:checked + &__label {
        color: var(--ip-checked-txt);

        &::before {
            position: relative;
            border: none;
            background: var(--primary-color);
        }

        &::after {
            --icon-size: 12px;

            content: "";
            display: block;
            position: absolute;
            top: 6px;
            left: 6px;
            width: var(--icon-size);
            height: var(--icon-size);
            background: #fff;
            border-radius: 50%;
            box-shadow: 0px 1px 2px 0px #00000040;
        }

        &:focus::before {
            background: var(--primary-gradient);
        }
    }

    &--inline {
        display: inline-block;
        margin-inline-end: 20px;
    }
}

/*
Radio (inline)

Input radio displayed inline.

Markup:
<div class="m-ip-radio m-ip-radio--inline">
    <input type="radio" class="m-ip-radio__input" id="il-gender-male" name="il_gender" value="male">
    <label class="m-ip-radio__label" for="il-gender-male" tabindex="0">Male</label>
</div>
<div class="m-ip-radio m-ip-radio--inline">
    <input type="radio" class="m-ip-radio__input" id="il-gender-female" name="il_gender" value="female">
    <label class="m-ip-radio__label" for="il-gender-female" tabindex="0">Female</label>
</div>

Styleguide Radio.Inline
*/

/*
Radio (checked)

Input radio checked state.

Markup:
<div class="m-ip-radio">
    <input type="radio" class="m-ip-radio__input" id="gender-male" name="gender" value="male" checked>
    <label class="m-ip-radio__label" for="gender-male" tabindex="0">Male</label>
</div>

Styleguide Radio.Checked
*/

/*
Radio (disabled)

Input radio disabled state.

Markup:
<div class="m-ip-radio">
    <input type="radio" class="m-ip-radio__input" id="disabled-radio" disabled>
    <label class="m-ip-radio__label" for="disabled-radio">Radio</label>
</div>

Styleguide Radio.Disabled
*/
