/*
Textarea (UI States)

Input textarea user-interaction states.

Markup:
<div class="m-ip-textarea">
    <label class="m-ip-textarea__label" for="first-name">First Name</label>
    <span class="m-ip-textarea__help-text">Help text to fill in this value.</span>
    <span class="m-ip-textarea__error">Error message.</span>
    <textarea rows=3 type="text" id="first-name" class="m-ip-textarea__input {{modifier_class}}" name="first_name" value="Magesh"></textarea>
</div>

:focus - an element that received focus.

Styleguide Textarea.UIStates
*/
.m-ip-textarea {
    position: relative;

    &__label {
        display: block;
        margin-block-end: 6px;
        color: var(--heading-txt);
        font-weight: 700;
    }

    &__input {
        width: -webkit-fill-available;
        border: 1px solid var(--ip-border);
        padding: 8px 12px;
        color: var(--body-txt);
        font-family: inherit;
        font-size: 1rem;
        background-color: transparent;
        border-radius: 8px;
        outline: none;
        cursor: pointer;

        ::placeholder {
            color: var(--ip-placeholder-txt);
        }

        &:focus,
        &.pseudo-class-focus {
            border-color: var(--ip-border--focus);
            background-color: var(--ip-bg--focus);
            box-shadow: 0px 3px 2px 0px #00000040 inset;
        }

        &:disabled {
            border-color: var(--ip-border--disabled);
            background-color: var(--ip-bg--disabled);
            cursor: not-allowed;
        }
    }

    &__help-text {
        display: block;
        margin-block: 0 6px;
        color: var(--body-txt);
        font-style: italic;
    }

    &__error {
        display: none;
        margin-block: 0 6px;
        color: var(--ip-error-txt);
        font-style: italic;
    }

    &.is-loading {
        &::after {
            --icon-size: 24px;
            content: '';
            display: block;
            position: absolute;
            right: 12px;
            bottom: calc(16px * 1.5 - 12px - 2px);
            width: var(--icon-size);
            height: var(--icon-size);
            background-image: url('../../images/ip-loading-spinner-48px.png');
            background-size: var(--icon-size);
            animation: rotate-loading-spinner .5s linear infinite;
        }
    }

    &.has-error &__error {
        display: block;
    }
    }

    @keyframes rotate-loading-spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*
Textarea (Validation states)

Input textarea loading and error states.

Markup:
<div class="m-ip-textarea {{ modifier_class }}">
    <label class="m-ip-textarea__label" for="error">Full name</label>
    <p class="m-ip-textarea__error">How to correct this input.</p>
    <textarea rows=3 class="m-ip-textarea__input" type="text" id="error" name="full_name" value="Magesh Ravi"></textarea>
</div>

.is-loading - Validation or background-activity in progress
.has-error  - Input data is NOT valid

Styleguide Textarea.ValidationStates
*/

/*
Textarea (disabled)

Input textarea disabled state.

Markup:
<div class="m-ip-textarea">
    <label class="m-ip-textarea__label" for="disabled">Full name</label>
    <textarea rows=3 class="m-ip-textarea__input" type="text" id="disabled" name="full_name" placeholder="Disabled input"
        disabled></textarea>
</div>

Styleguide Textarea.Disabled
*/
