/*
Select Menu

Standard dropdown-menu.

Markup:
<div class="m-ip-select {{ modifier_class }}">
    <div class="m-ip-select__overlay"></div>
    <label class="m-ip-select__label">Country</label>
    <div class="m-ip-select__input">
        <span class="m-ip-select__display is-placeholder">Select</span>
        <select class="m-ip-select__value" name="country" hidden>
            <option value="1">Afghanistan</option>
            <option value="2">Albania</option>
            <option value="3">Algeria</option>
            <option value="4">India</option>
            <option value="5">Indonesia</option>
            <option value="6">United Kingdom</option>
            <option value="7">United States of America</option>
        </select>
    </div>
    <div class="m-ip-select__options-wrapper">
        <ul class="m-ip-select__options">
            <li data-value="1" class="m-ip-select__opt-item">Afghanistan</li>
            <li data-value="2" class="m-ip-select__opt-item">Albania</li>
            <li data-value="3" class="m-ip-select__opt-item">Algeria</li>
            <li data-value="4" class="m-ip-select__opt-item">India</li>
            <li data-value="5" class="m-ip-select__opt-item">Indonesia</li>
            <li data-value="6" class="m-ip-select__opt-item">United Kingdom</li>
            <li data-value="7" class="m-ip-select__opt-item">United States of America</li>
        </ul>
    </div>
</div>

.is-open - Select menu options visible.

Styleguide SelectMenu.UIStates
*/
.m-ip-select {
    --overlay-zindex: 1;
    --menu-zindex: 10;
    --tag-bg: #a5a5a5;

    --sprite-width: 72px;
    --sprite-height: 72px;
    --icon-size: 24px;

    --opt-txt--hover: #fff;
    --opt-bg--hover: var(--primary-gradient);

    position: relative;

    &__overlay {
        display: none;
        position: fixed;
        z-index: var(--overlay-zindex);
        background-color: rgba(0, 0, 0, .1);
        inset: 0;
    }

    &.is-open &__overlay {
        display: block;
    }

    &__label {
        display: block;
        margin-block: 0 6px;
        color: var(--heading-txt);
        font-weight: bold;
    }

    &__input {
        display: flex;
        width: -webkit-fill-available;
        border: 1px solid var(--ip-border);
        padding: 8px 12px;
        background-color: transparent;
        border-radius: 8px;
        outline: none;

        &:hover {
            border-color: var(--ip-border--focus);
            background-color: var(--ip-bg--focus);
        }

        &::after {
            --icon-size: 20px;

            content: '';
            display: block;
            flex-shrink: 0;
            width: var(--icon-size);
            height: var(--icon-size);
            background-image: url('/static/images/icons-sprite.svg');
            background-repeat: no-repeat;
            background-position: calc(-1 * var(--icon-size)) 0;
            background-size: calc(4 * var(--icon-size)) calc(2 * var(--icon-size));
        }
    }

    &__display {
        user-select: none;

        &.is-placeholder {
            flex-grow: 1;
            overflow: hidden;
            color: var(--ip-placeholder-txt);
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__options-wrapper {
        visibility: hidden;
        position: absolute;
        z-index: -1;
        bottom: -6px;
        left: 0;
        width: -webkit-fill-available;
        border: 1px solid var(--ip-border);
        padding: 4px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
        transform: translateY(100%) translateY(-12px);
        opacity: 0;
        transition: all .2s linear;
    }

    &.is-open &__options-wrapper {
        visibility: visible;
        z-index: var(--menu-zindex);
        transform: translateY(100%) translateY(2px);
        opacity: 1;
        transition: all .2s linear;
    }

    &__options {
        max-height: calc((3 * 44px) + 24px);
        overflow: auto;
        margin: 0;
        border: none;
        padding: 0;
        list-style: none;

        @media (min-width: 768px) {
            max-height: calc((4 * 30px) + 15px);
        }
    }

    &__opt-item {
        margin-block-end: 0;
        padding: 10px 8px;
        color: #000;
        user-select: none;

        &:nth-child(even) {
            --alt-row-bg: #E6EEF1;

            background-color: var(--alt-row-bg);
        }

        &:first-child {
            border-radius: 5px 5px 0 0;
        }

        &:last-child {
            border-radius: 0 0 5px 5px;
        }

        &:hover {
            color: var(--opt-txt--hover);
            background: var(--opt-bg--hover);
            cursor: pointer;
        }
    }
}
