/*
Messages (levels)

Messages with different levels.

Markup:
<ul class="m-messages">
    <li class="m-messages__item {{modifier_class}}">
        <span class="m-messages__desc">
            <span class="m-messages__level">LEVEL</span>
            This is a message.
        </span>
        <span class="m-messages__icon"></span>
    </li>
</ul>

.m-messages__item--error - error message
.m-messages__item--warning - warning message
.m-messages__item--success - success message

Styleguide Messages.Levels
*/
.m-messages {
    --info-txt: #1A729D;
    --info-bg: #DAEEF8;
    --error-txt: #B53D2D;
    --error-bg: #F6E0DD;
    --success-txt: #307B2E;
    --success-bg: #DEF6DD;
    --warning-txt: #956312;
    --warning-bg: #F6EFDD;

    padding: 0;
    list-style: none;

    &__item {
        display: flex;
        column-gap: 10px;
        width: fit-content;
        margin-block-end: 20px;
        padding: 8px 20px;
        color: var(--info-txt);
        background-color: var(--info-bg);
        border-radius: 20px;

        &--error {
            color: var(--error-txt);
            background-color: var(--error-bg);
        }

        &--warning {
            color: var(--warning-txt);
            background-color: var(--warning-bg);
        }

        &--success {
            color: var(--success-txt);
            background-color: var(--success-bg);
        }
    }

    &__icon {
        --sprite-width: 80px;
        --sprite-height: 40px;
        --icon-size: 20px;

        align-self: center;
        width: var(--icon-size);
        height: var(--icon-size);
        background-image: url('/static/images/icons-sprite.svg');
        background-position: 0 calc(-1 * var(--icon-size));
        background-size: var(--sprite-width) var(--sprite-height);
    }

    &__item--error &__icon {
        background-position-x: calc(-2 * var(--icon-size));
    }

    &__item--success &__icon {
        background-position-x: calc(-1 * var(--icon-size));
    }

    &__item--warning &__icon {
        background-position-x: calc(-3 * var(--icon-size));
    }

    &__icon:hover {
        background-color: #D65A5A;
        background-position: calc(-2 * var(--icon-size)) 0;
        border-radius: 50%;
    }

    &__level {
        font-weight: bold;
    }
}

/*
Dismissible messages

Dismissible Messages.

Markup:
<ul class="m-messages">
    <li class="m-messages__item">
        <span class="m-messages__desc">
            <span class="m-messages__level">LEVEL</span>
            This message is dismissible.
        </span>
        <span class="m-messages__icon {{modifier_class}}"></span>
    </li>
</ul>
<ul class="m-messages">
    <li class="m-messages__item m-messages__item--error">
        <span class="m-messages__desc">
            <span class="m-messages__level">LEVEL</span>
            This message is dismissible.
        </span>
        <span class="m-messages__icon {{modifier_class}}"></span>
    </li>
</ul>
<ul class="m-messages">
    <li class="m-messages__item m-messages__item--warning">
        <span class="m-messages__desc">
            <span class="m-messages__level">LEVEL</span>
            This message is dismissible.
        </span>
        <span class="m-messages__icon {{modifier_class}}"></span>
    </li>
</ul>
<ul class="m-messages">
    <li class="m-messages__item m-messages__item--success">
        <span class="m-messages__desc">
            <span class="m-messages__level">LEVEL</span>
            This message is dismissible.
        </span>
        <span class="m-messages__icon {{modifier_class}}"></span>
    </li>
</ul>

:hover - mouse over state

Styleguide Messages.Dismissible
*/

/*
Non dismissible messages

Non dismissible Messages.

Markup:
<ul class="m-messages">
    <li class="m-messages__item {{modifier_class}}">
        <span class="m-messages__desc">
            <span class="m-messages__level">LEVEL</span>
            This message is NOT dismissible.
        </span>
    </li>
</ul>

.m-messages__item--error - error message
.m-messages__item--warning - warning message
.m-messages__item--success - success message

Styleguide Messages.Nondismissible
*/
