/*
Pagination

Displays page numbers.

Markup:
<nav class="m-pagination">
    <a class="m-pagination__link" href="#">1</a>
    <span class="m-pagination__separator"></span>
    <a class="m-pagination__link" href="#">4</a>
    <a class="m-pagination__link current" href="#">5</a>
    <a class="m-pagination__link" href="#">6</a>
    <span class="m-pagination__separator"></span>
    <a class="m-pagination__link" href="#">10</a>
</nav>

Styleguide Pagination.Current
*/
.m-pagination {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    margin-block: 4px;
    padding: 0;
    list-style: none;

    &:hover > &__link:not(.current):not(:hover) {
        border-color: transparent;
    }

    &__separator {
        display: flex;
        align-items: center;
        min-width: 10px; /* 16px + 10px + 16px = 42px */

        &::before {
            content: "...";
            display: block;
        }
    }

    &__link {
        display: block;
        box-sizing: border-box;
        min-width: 44px;
        padding: 10px 16px;
        color: var(--btn-txt);
        text-align: center;
        text-decoration: none;
        background-color: var(--btn-bg);
        box-shadow: var(--btn-box-shadow);
        outline: none;

        &:hover,
        &:focus {
            color: var(--btn-txt--hover);
            background-color: var(--btn-bg--hover);
            box-shadow: var(--btn-box-shadow--hover);
        }

        &.current {
            color: var(--btn-txt--active);
            background-color: var(--btn-bg--active);
            box-shadow: var(--btn-box-shadow--active);
        }
    }
}
