/*
Segmented controls

Tab-like controls for use with icons inspired by macOS.

Markup:
<nav class="m-segmented-ctrl">
    <a href="#" class="m-segmented-ctrl__link is-active">
        Option 1
    </a>
    <a href="#" class="m-segmented-ctrl__link">
        Option 2
    </a>
    <a href="#" class="m-segmented-ctrl__link">
        Option 3
    </a>
    <a href="#" class="m-segmented-ctrl__link">
        Option 4
    </a>
</nav>

Styleguide SegmentedControl
*/
.m-segmented-ctrl {
    --seg-ctrl-bg: var(--ip-bg);
    --seg-ctrl-bg--hover: #f4f4f4;
    --seg-ctrl-bg--active: #fff;
    --seg-ctrl-border: var(--ip-border);

    display: flex;
    width: fit-content;
    border: 1px solid var(--seg-ctrl-border);

    &__link {
        display: block;
        position: relative;
        border: none;
        padding: 10px;
        color: inherit;
        text-decoration: none;
        background-color: var(--seg-ctrl-bg);

        &:hover {
            border-block-end: none;
            background-color: var(--seg-ctrl-bg--hover);
        }

        &.is-active {
            font-weight: bold;
            background-color: var(--seg-ctrl-bg--active);
        }

        &.is-active + & {
            margin-inline-start: -2px;
        }

        & + &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: var(--seg-ctrl-border);
        }
    }
}
