// resets
@import "normalize.css";

// fonts
@font-face {
  font-family: "Lexend";
  font-style: normal;
  src: url("/static/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  src: url("/static/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@import "base";
@import "m-ip-textbox";
@import "m-ip-checkbox";
@import "m-ip-radio";
@import "m-ip-select";
@import "m-btn";
@import "m-pagination";
@import "m-pills";
@import "m-messages";
@import "m-alert";
@import "m-confirm";
@import "m-ip-textarea";
